@charset "UTF-8";

/**
 * @desc dark-theme.scss
 * @author ye21st
 * @date 2019-11-04 16:38:12
 */

/* Common
----------------------------------------------------------------*/
$white-color: #FFF;

.author-link{
    text-decoration: none;
    color: #9c27b0!important;
    padding: 0;
    text-transform: inherit!important;
    font-size: 16px!important;
    font-weight: 300!important;
}

/* LoginPage
----------------------------------------------------------------*/


/* IndexPage
----------------------------------------------------------------*/
